
:root{
    --fontRoboto:"Roboto","San serif";
    --fontLato:"Lato","San seLato";
}

*{
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    padding-left: 0 !important;
}

a{
    display: inline-block;
    color: inherit;
}
body{
    min-width: 350px;
    height: 100%;    
    background-color:#dda15e ;     
}
.pantallaOscura.activar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;left: 0;
    background-color: rgba(0,0,0,0.5);
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 95%;
    margin: auto;
    flex-direction: column;
}
section:nth-of-type(1):not(#home){
    margin-top: 6rem;
}
section{
    padding: 3rem;
}
#productoForm{
    padding: 1rem;
}
section:nth-of-type(3){
    padding: 0;
}
section:nth-of-type(even){
    background-color: rgb(255, 255, 255);
    color: black;
}

.carousel img, 
.carousel svg{
    height:60vh;
}

.fa-arrow-up{
    position: absolute;
    right: 2%;
    bottom: -1rem;
    padding: 1rem;
    background-color: #F5F5DC;
    cursor: pointer;
}

.escalar:hover{
    transition: transform 1s ease;
    transform: scale(1.1);
    cursor: pointer;
    z-index: 100;
}

.plantillaCaja{
    box-shadow: 0 0 5px #000;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 1rem;
}

#productos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


.cartaProductos {
    width: 100%;
}
thead{
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}
thead.activar{
    position: none;
}
td,th{
    padding: 12px 12px;
    text-transform: capitalize;
    text-align: center;
}
th{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

tr:nth-of-type(even){
    background-color: lightgray;
}
form:not(.newsletter form){
    width: max-content;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 248, 248);
    font-weight: bold;
    gap: 3px;
}
label{
    font-size: 20px;
}  
input{
    padding: 5px;
}
button {
    border: none;
    outline: none;
    padding: 12px 20px;
    margin: 10px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
select{
    padding: 5px;
    margin-bottom: 10px;
}

textarea{
    resize: none;
}
.enviar-btn {
    background-color: #4CAF50;
    color: white;
    width: 100px;
}
.editar-btn {
    background-color: #008CBA;
    color: white;
    width: 100px;
}
.borrar-btn {
    background-color: #f44336;
    color: white;
    width: 100px;
}

.enviar-btn:hover {
    background-color: #45a049; 
}

.editar-btn:hover {
    background-color: #00759d; 
}

.borrar-btn:hover {
    background-color: #e53935; 
}
.botones{
    text-align: center;
}

.btn{
    padding: 12px;
    text-decoration: none;
    background-color: rgb(0, 0, 255);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
}
/* cliente_form */
.contenedorContacto{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    margin: auto;
    gap: 1rem;
    align-items: center;
}
.contenedorContacto article:nth-of-type(1){
    flex: 1;
}
.contenedorContacto article:nth-of-type(2){
    flex: 2;
    padding: 1rem;
}

.contactoTexto {
    width: 95%;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 10px;
}

.contactoTexto h2 {
    color: #8A8A8A;
}

.contactoTexto p {
    font-size: 1rem;
    text-align: justify;
    width: 95%;
}


#comprar img{ /* Imagen de mantenimiento*/
    width: 100%;
    height: 100vh;
}

.contenedorABM{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.contenedorDashboard{
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
    max-width: 800px;
}
.contenedorTable{
    max-height: 600px;
    background-color: rgb(252, 248, 248);
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    padding: 1rem;
    border-radius: .5rem;
}
.articulo{
    flex: 1;
}

.card{
    z-index: -1;
}

#compra h1{
    text-align: center;
    padding: 1rem;
}

.row>*{
    padding-right: 0 !important;
}