/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    width: 100%;
    font-size: 1.2rem;
    position: absolute;
    top: 0; left: 0;
    box-shadow: 0px 0px 10px #000000;
    backdrop-filter: blur(10px);
    z-index: 2;
}

header img{
    width: 5rem;
    background-color: black;
    border-radius: 25%;
    filter: brightness(300%);
}
nav ul{
    gap: 1rem;
    align-items: center;
}
nav a{
    padding: .5rem;
    background-color: transparent;
    font-weight: bold;
    color: #e2e2e2;
    border-bottom: .2rem solid transparent;

}

nav a:hover:not(footer a){
    border-color: #ff6a00;
}

.btn{
    background-color: #8B4513;
    color: #fff;
    padding: .5rem;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--fontRoboto);
}

.containerMenu{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    position: relative;
    display: none;
}
.lineMenu{
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}
.lineMenu1{
    top: 0;
}
.lineMenu2{
    top: 50%;
    transform: translateY(-50%);
}
.lineMenu3{
    bottom: 0;
}
.containerMenu .lineMenu1.active{
    top: 50%;
    transform: translateY(-50%) rotate(45deg) ;
}
.containerMenu .lineMenu2.active{
    opacity: 0;
}
.containerMenu .lineMenu3.active{
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg) ;
}

nav ul.active{
    opacity: 1;
    transform: translateY(0);
}