@media (min-width:1024px){
    #servicios .contenedor{
        width: 90%;
        margin: auto;
     }
}
/* Para table */
@media (min-width:768px){ 
    html{
        font-size: 90%;
    } 

    #experiencias .contenedorGrid{
        grid-template-columns: repeat(2,1fr);
    }
    
    #experiencias .activar{
        display: block;
    }
    nav ul{
        display: flex;
    }
    
}

/* Para mobil */
@media (min-width:350px) and (max-width:767px){  
    html{
        font-size: 70%;
    }   
    .contenedor{
        flex-direction: column;
    }
    .contenedorGrid:not(.contacto ul){
        grid-template-columns: 70%;
        justify-content: center;
    }
    header ul li a{
        font-size: 1.4rem;
        color: black;
    }
    .containerMenu{
        display: initial;
    }
    nav ul {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: ghostwhite;
        padding: 1rem;
        line-height: 1.5;
        width: 100%;
        text-align: center;
        transform: translateY(-25%);
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    header nav ul li{
        font-size: 2rem;
    }
    #home span{
        font-size: 6rem;
    }
    #home p{
        text-align: center;
        font-size: 1.5rem;
    }
    #experiencias .activar{
        display: block;
    }
    .navegacion{
        text-align: center;
    }
    .beneficio h3{
        text-align: center;
    }
    .cliente h1{
        font-size: 3rem;
    }
    .cabecera{
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
    }
    .rango{
        flex-direction: column;
        gap: 1rem;
        width: 80%;
    }
    .rating{
        flex-direction: row;
        gap: 5rem;
    }

    #mapa{
        flex-direction: column;
    }
    #mapa iframe{
        width: 80%;
        height: 300px;
        margin: 0 auto;
    }
    .contenedorContacto{
        flex-direction: column-reverse;
    }
    .contactoTexto{
        text-align: center;
    }
    .contactoTexto p{
        text-align: center;
    }
    .redes-sociales a{
        text-align: center;
    }
    .contenedorDashboard{
        width: 100%;
    }
    
}
  
@media (max-width:400px){
    .cabecera h1{
        font-size: 1.5rem;
    }
}
