/* Para tabletas */
/* and (max-width:1023px) */
@media (min-width:768px){ 
    html{
        font-size: 90%;
    } 

    #experiencias .contenedorGrid{
        grid-template-columns: repeat(2,1fr);
    }
    
    #experiencias .activar{
        display: block;
    }
    nav ul{
        display: flex;
    }
}

/* Para móviles */
@media (min-width:350px) and (max-width:767px){  
    html{
        font-size: 70%;
    }   
    .contenedorGrid:not(.contacto ul){
        grid-template-columns: 70%;
        justify-content: center;
    }
    header ul li a{
        font-size: 1.4rem;
        color: black;
    }
    .containerMenu{
        display: initial;
    }
    nav ul {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: ghostwhite;
        padding: 1rem;
        line-height: 1.5;
        width: 100%;
        text-align: center;
    }
    header nav ul li{
        font-size: 2rem;
    }
    #home span{
        font-size: 6rem;
    }
    #home p{
        text-align: center;
        font-size: 1.5rem;
    }
    #experiencias .activar{
        display: block;
    }
    .navegacion{
        text-align: center;
    }
    .beneficio h3{
        text-align: center;
    }
    .cliente h1{
        font-size: 3rem;
    }
    .cabecera{
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;
    }
    .rango{
        flex-direction: column;
        gap: 1rem;
        align-items: start;
    }
    .rating{
        flex-direction: row;
        gap: 5rem;
    }
}
  