{% extends "base/base.html" %}
{% block content %}
	<section >
		{{ block.super }}
		<article class="contenedorContacto">
			<article class="contenedor">
				<form method="POST" id='iniciarSesion'>
					{% csrf_token %}
					{{ form.as_table }}
				<div class="botones mt-3">
					<button type="submit" class="enviar-btn">Enviar</button>
					<button type="reset" class="borrar-btn">Borrar</button>
				</div>
				</form>
			</article>
			<article class="contactoTexto">
				<h1>Registrarse</h1>
				<p>¡Tu hogar ideal está a solo un registro de distancia!</p>
			</article>
		</article>
	</section>
{% endblock  %}
