{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container p-5">
    <div class="row">
      {% for producto in productos %}
      <div class="col-md-4 mt-3 ">
        <div class="card p-2 z-n1">
          <img src="{{ producto.imagen.url }}" width='284' height='284' class="card-img-top" alt="{{ producto.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-text">$ {{ producto.precio }}</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

