{% extends "base/base.html" %}
{% load static %}

{% block content %}
<section>
  <div class="container p-5">
    <div class="row">
      {% for producto in productos %}
        {% if producto.stock > 0 %}
          <div class="col-md-4 mt-3 ">
            <div class="card p-2">
              <img src="{{ producto.imagen.url }}" width='284' height='284' class="card-img-top" alt="{{ producto.nombre }}">
              <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text">$ {{ producto.precio }}</p>
              </div>
            </div>
            <a href="/comprar/{{producto.id}}" class="btn">Comprar</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}

