{% extends "base/base.html" %}
{% load static %}

{% block content %}
<section>
  <div class="contenedor">
    <div>
        <h1 class='text-center'>Agregar Producto</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
        <div class="botones">
            <button type="submit" class="enviar-btn">Enviar</button>
            <button type="reset" class="borrar-btn">Borrar</button>
        </div>
        </form>
    </div>
    <div class='productosEditar pt-5'>  
        <h1 class='text-center'>Productos</h1>
        <div class="scroll">
            <table class="cartaProductos table-bordered border-primary">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
              {% for producto in productos %}
              <tr>
                <td>{{loop.index0}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.stock}}</td>
                <td>{{producto.precio}}</td>
                <td class='botones'>
                  <a href="/editar/{{producto.id}}"><button type="button" class="editar-btn">Editar</button></a>
                  <a href="/eliminar/{{producto.id}}"><button type="button" class="borrar-btn">Eliminar</button></a>
                </td>
              </tr>
              {% endfor %}
            </table>
        </div>  
    </div>
</div>
</section>
   
{% endblock  %}