{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "base/head.html" %}

<body>
    {% include "base/header.html" %}
   
    {% block content %}
    {% include "base/carruselProducto.html" %}
    {% endblock %}
    
    {% include "base/footer.html" %}
    
    <script>
      const exp = document.querySelectorAll('.experiencia')

      function animacionExperiencia() {
        exp.forEach(experiencia =>{
        const elementoTop = experiencia.getBoundingClientRect().top
        const windowHeight = window.innerHeight

          if (elementoTop < windowHeight){
            experiencia.classList.add('aparecer')
          }else{
            experiencia.classList.remove('aparecer')
          }
        })
      }
      window.addEventListener('scroll',animacionExperiencia)
      window.addEventListener('load',animacionExperiencia)
      
      const menu = document.querySelector('.containerMenu')
      const lineMenu1 = document.querySelector('.lineMenu1')
      const lineMenu2 = document.querySelector('.lineMenu2')
      const lineMenu3 = document.querySelector('.lineMenu3')
      const navbar = document.querySelector('nav ul')
      
      menu.addEventListener('click',()=>{
          lineMenu1.classList.toggle('active')
          lineMenu2.classList.toggle('active')
          lineMenu3.classList.toggle('active')
          navbar.classList.toggle('active')
      })
      if(window.innerWidth > 767){
        if (navbar.classList.contains('active')){
          navbar.classList.remove('active')
        }
      }
      
    </script>
</body>
</html>