<footer>
    <div class="newsletter">
        <h1>Suscribete a nuestro Newsletter</h1>
        <p>
          Ingresa tu dirección de correo electrónico para registrarte en nuestra
          suscripción al boletín informativo
        </p>
        <form action="">
          <input type="email" name="email" id="email" placeholder="Email" />
          <button type="submit" value="Enviar" class="btn escalar" />Enviar</button>
        </form>
      </div>
      <div class="contenedorGrid">
        <div class="redes-sociales">
          <h6>Redes Sociales</h6>
          <ul>
            <li class="escalar">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook"></i>
                Facebook
              </a>
            </li>
            <li class="escalar">
              <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i>
                Twitter
              </a>
            </li>
            <li class="escalar">
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i>
                Instagram
              </a>
            </li>
          </ul>
        </div>
        <div class="contacto">
          <h6>Contacto</h6>
          <p>
            Estamos aquí para ayudarte. Si tienes alguna pregunta o comentario,
            no dudes en ponerte en contacto con nosotros.
          </p>
          <ul class="contenedorGrid">
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <p>Dirección:</p>
              Buenos Aires
            </li>
            <li>
              <i class="fas fa-phone"></i>
              <p>Teléfono:</p>
              1234567890
            </li>
            <li>
              <i class="fas fa-envelope"></i>
              <p>Correo Electrónico:</p>
              DecorArte@gmail.com
            </li>
          </ul>
        </div>
        <div class="navegacion">
          <h6>Navegación</h6>
          <ul>
            <li class="escalar"><a href="index.html">Inicio</a></li>
            <li class="escalar"><a href="acercade.html">Acerca de</a></li>
            <li class="escalar"><a href="articulos.html">Productos</a></li>
            <li class="escalar"><a href="contacto.html">Contacto</a></li>
            <li class="escalar"><a href="#">Blog</a></li>
            <li class="escalar"><a href="#">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
</footer>