{% load static %}
<header>
    <a href="/" id="header">
        <img src="{% static 'img/logo.png' %}" alt="logo">
    </a>
    
  <nav>
    <ul id="navegacion">
      <li ><a href="/" >Home</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/acercade">Acerca de</a></li>
      <li><a href="/abm">ABM</a></li>
      <li><a href="/iniciarSesion"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
    </ul>
  </nav> 
  <article class="containerMenu pointer">
    <div class="lineMenu1 lineMenu"></div>
    <div class="lineMenu2 lineMenu"></div>
    <div class="lineMenu3 lineMenu"></div>
  </article>
</header>
